﻿@page
@model Shop.UI.Pages.Admin.IndexModel
@{
}

<div id="app" class="container">
    <div v-if="!editing">
        <button class="button" @@click="newProduct">Add New Product</button>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Value</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr v-for="(product, index) in products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.value}}</td>
                <td><a @@click="editProduct(product.id, index)">Edit</a></td>
                <td><a @@click="deleteProduct(product.id, index)">Remove</a></td>
            </tr>
        </table>
    </div>

    <div v-else>
        <div class="field">
            <label class="label">Product Name</label>
            <div class="control">
                <input class="input" v-model="productModel.name" />
            </div>
        </div>
        <div class="field">
            <label class="label">Product Desctiption</label>
            <div class="control">
                <input class="input" v-model="productModel.description" />
            </div>
        </div>
        <div class="field">
            <label class="label">Product </label>
            <div class="control">
                <input class="input" v-model="productModel.value" />
            </div>
        </div>
        <button class="button is-success" @@click="createProduct" v-if="!productModel.id">Create Product</button>
        <button class="button is-warning" @@click="updateProduct" v-else>Update Product</button>
        <button class="button" @@click="cancel">Cancel</button>
    </div>
</div>


@section scripts {
    <script src="~/js/admin/products.js"></script>
}